body{
  background: #282c34;
  color: white;
}
h1{
  color: #61dafb;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  display: block;
  background: #121417;
  border-radius: 50%;
  border: 0;
  height: 120px;
  color: #61dafb;
  width: 120px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
  outline: none;
}
label{
  font-size: 1.5rem;
}
.text{
  color: #61dafb;
}
.text-center{
  text-align: center;
}


